body {
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #333333;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 14px 16px;
}

nav a:hover {
    background-color: #dddddd;
    color: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}

header img {
    width: 100px;
    margin-right: 5px;
}

#index {
    max-width: 600px;
    margin: 0 auto;
}

section h2 {
    color: #333;
}

section ul {
    list-style-type: none;
    padding: 0;
}

#index a {
    color: #333;
    text-decoration: none;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    display: block;
}

section li {
    margin-bottom: 10px;
}

#index a:hover {
    background-color: #ddd;
}

.articles-container {
    column-count: 2;
    column-gap: 20px;
    margin: 50px 100px auto 100px;
}

@media(max-width: 991px) {
    .articles-container {
        column-count: 1;
        margin: 50px 30px auto 30px;
    }
}

article {
    border: 1px solid #000000;
    padding: 10px;
    break-inside: avoid;
    margin-bottom: 20px;
}

footer {
    
}

.social-media img {
    width: 30px;
    margin-right: 10px;
    filter: grayscale(100%);
}

.social-media img:hover {
    filter: grayscale(0%);
}